 {% extends "app/base.html" %}

{% block content %}

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
      <p><a href="about/">"Ad"</a></p>
    </div>
    <div class="col-sm-8 text-left"> 

      {% if request.session.username %}
         <h1>Hello {{ request.session.username }}!</h1>
         <p>To add a class select "Add Class" to the right.</p>
         <p>To send/view messages, click "Messages" at the top right.</p>
      {% else %}
         <h1>Welcome Guest!</h1>
         <p>To login or create and account, select "Login" at the top right.</p>
      {% endif %}

      <hr>
      <h3>Hello!</h3>
      <p>This is cool.</p>
    </div>
    {% if request.session.username %}
        <div class="col-sm-2 sidenav">
            <h5>Classes:</h5>
            <table>
                {% for v in data %}
                    <tr>
                        <td style="padding:10px">{{ v.classSec }}</td>
                    </tr>
                {% endfor %}
            </table>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add a Class</button>
        </div>
    {% endif %}
  </div>
</div>

    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Class to Add</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                <select class="form-control" id="addclass" name="addclass">
                    {% for r in classes %}
                        <option>{{ r.classSec }}</option>
                    {% endfor %}
                </select>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input name="Done" TYPE="submit" VALUE="Add" class="btn btn?default" />
                </div>
            </form>  
        </div>
    </div>
</div>

{% endblock %}
