
{% extends "app/base.html" %}

{% block content %}

<head>
<title>
Login page
</title>

</head>

<body>
<h1 style="font-family:Comic Sans" Ms;text-align="center";font-size:20pt;
color:#00FF00;>
Add a Class to the Database
</h1>

<FORM method="post">
{% csrf_token %}
    <table>
        {{ myForm.as_table }}
    </table>
    <p> <input name="Send" TYPE="submit" VALUE="Add"
    class="btn btn?default" /></p>
</FORM>
<p></p>

<table>
    <tr>
        <th>Class</th>
        <th>Section</th>
        <th>Day</th>
        <th>Time</th>
    </tr>
    {% for r in data %}
        <tr>
            <td style="padding:10px">{{ r.class1 }}</td>
            <td style="padding:10px">{{ r.section }}</td>
            <td style="padding:10px">{{ r.day }}</td>
            <td style="padding:10px">{{ r.classTime }}</td>
        </tr>
    {% endfor %}
</table>


</body>

{% endblock %}
